:root {
  color-scheme: light dark;

  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Fira Sans', sans-serif;
  --color-base: #333;
  --page-vertical-spacings: 1rem;
  --page-horizontal-spacings: 1rem;
  --page-spacings: var(--page-vertical-spacings) var(--page-horizontal-spacings);
  --max-page-width: 1200px;
  --max-content-width: 800px;
  --background-color: #fff;

}

@media (--small-tablet) {
  :root {
    --page-horizontal-spacings: 2rem;
  }
}
