.header {
  padding: var(--page-spacings);
  text-align: center;
}

.name {
  font-family: var(--secondary-font);
  font-size: 1.3rem;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
}

.navigation-item {
  list-style: none;
}

@media (--tablet) {
  .header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--page-vertical-spacings);
    align-items: center;
    max-width: var(--max-page-width);
    margin: 0 auto;
    text-align: left;
  }
}
